<section class="cart">
  <div *ngIf="service.count() === 0; else cartContent">
    <p>Your cart is empty.</p>
  </div>
  <ng-template #cartContent>
    <article class="cart-card">
      <div class="cart-card-img-container">
        <img
          [src]="getSelectedProductInfos()[0].product.img"
          alt="Speaker's photo"
        />
      </div>
      <section class="cart-card-infos">
        <p>{{ getSelectedProductInfos()[0].product.name }}</p>
        <p>{{ getSelectedProductInfos()[0].product.price }}</p>
        <p>{{ getSelectedProductInfos()[0].quantity }}</p>
        <section class="cart-card-total">
          Total Price: {{ getTotalPrice() | number : "1.2-2" }} €
        </section>
      </section>

      <section class="cart-card-btn-container">
        <button (click)="removeItem()" class="rmv-item">Remove article</button>
        <button (click)="addItem()" class="add-item">Add article</button>
      </section>
    </article>
    <button (click)="purchase()" class="purchase">Purchase</button>
  </ng-template>
</section>
