<div class="home-container">
  <section product-images class="product-images"></section>
  <section
    product-infos
    title="Melody"
    description="Dive into an exceptional sonic experience with Harmony Acoustics' Melody speaker.

    Equipped with premium audio quality, Melody delivers crystalline sound reproduction and immersive depth.
    Its elegant design, combined with advanced artificial intelligence technology, creates a perfect harmony between aesthetics and performance.

    Advanced Bluetooth connectivity allows you to unleash your favorite music wirelessly, while user-friendly simplicity redefines the auditory pleasure.

    Explore the art of Melody, where outstanding acoustics meets timeless elegance."
    price="499.99€"
    class="product-infos"
  ></section>
</div>
