@import "../../sass/variables";

.slides {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .slide {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    #indicators {
      position: absolute;
      bottom: 1rem;
      left: 0;
      right: 0;
      margin: auto;
      width: 15rem;
      display: flex;
      justify-content: center;
      gap: 0.8rem;
      .indicator {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-color: $primary;
        cursor: pointer;
        &.active {
          background-color: $tertiary;
        }
      }
    }
  }
}
:host {
  display: block;
  width: 100%;
  height: 100%;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  max-height: 100%;
  background-color: transparent;
  font-size: 2rem;
  width: 2rem;
  padding: 2rem;
  transition: color 250ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: $tertiary;
    transition: color 250ms ease;
    background-image: none;
  }
}
.next-btn {
  right: 0;
}
