@import "../../sass/variables";

.product-infos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  @media (max-width: 700px) {
    padding-bottom: 2rem;
    gap: 1rem;
  }
}
.product-infos-title {
  font-size: 8rem;
  text-transform: lowercase;
  font-family: inherit;
  opacity: 0.5;
  font-family: $second;
  @media (max-width: 700px) {
    font-size: 4rem;
  }
}

p {
  font-family: "Author-Regular";
  width: 80%;
  white-space: pre-line;
  line-height: 1.5rem;
  text-align: center;
  @media (max-width: 700px) {
    width: 100%;
    padding: 1rem;
  }
}
